SITE_URL=https://ruzgarajans.vercel.app
NEXT_PUBLIC_SITE_URL=https://ruzgarajans.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key
NEXT_PUBLIC_CF_CUSTOMER_SUBDOMAIN=customer-xxxxx.cloudflarestream.com
NEXT_PUBLIC_CF_IMAGES_HASH=
